* {
    padding: 0;
    margin: 0;
}

html,
body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.topnav-wrapper {
    float: right;
    position: relative;
    padding: 15px;
}

.topnav li {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

.logo-holder {
    margin: 0 auto;
    position: absolute;
    top: 30%;
    right: 39%;
}

.floatleft {
    float: left;
}

.rounded {
    border-radius: 50%;
    background-color: coral;
    color: #fff;
    padding: 4px 7px !important;
}

.content-holder {
    position: absolute;
    top: 43%;
    right: 64%;
}

.round {
    border-radius: 22px;
    border: none;
    padding: 15px 15px 15px 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 400px;
    box-shadow: 0px 3px 9px rgba(113, 117, 123, 0.4);
}

.round:focus {
    border: none;
}

.search i {
    position: absolute;
    z-index: 6;
    color: #eee;
    padding: 8px;
}

.search .fa-search {
    top: 6px;
}

.ankhstyle {
    left: 435px;
    color: blue !important;
    top: 7px;
}

.buttons {
    position: absolute;
    top: 53%;
    right: 36%;
}

.buttons li {
    display: inline-block;
    padding: 10px;
}

.Gsearch,
.how {
    background-color: #eee;
    margin-top: 10px;
    border-radius: 2px;
}

.google-buttons .firstAnchor:hover {
    text-decoration: none;
}

.google-buttons .secondAnchor:hover {
    text-decoration: none;
}

.language {
    position: absolute;
    top: 63%;
    right: 33%;
}

.language-b {
    color: blue;
}

.language p {
    font-size: 12px;
    padding: 8px;
}

.country {
    background-color: #eee;
    width: 100%;
    position: absolute;
    top: 90%;
    padding: 20px 0;
}

.country p {
    margin-left: 20px;
    color: gray;
    font-size: 10px;
    font-weight: bold;
    margin-top: -10px;
}

hr {
    width: 100%;
    position: absolute;
    top: 94.8%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer {
    background-color: #eee;
    width: 100%;
    position: absolute;
    top: 95%;
    padding: 20px 0;
}

.footer-cont li {
    display: inline-block;
    padding: 6px;
}

.footer-cont a {
    font-size: 12px;
    color: gray;
}

.ul {
    float: left;
    margin-top: -10px;
    margin-left: 12px;
}

.ul-one {
    float: right;
    margin-top: -10px;
    margin-right: 12px;
}