* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: arial, sans-serif;
}

.topnav-wrapper {
    float: right;
    position: relative;
    padding: 15px;
}

.topnav li {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.logo-holder {
    position: absolute;
    top: -125px;
    left: 50px;
}

.floatleft {
    float: left;
}

.rounded {
    border-radius: 50%;
    background-color: coral;
    color: #fff;
    padding: 4px 7px !important;
}

#search-form {
    position: absolute;
    right: 77px;
}

.round {
    border-radius: 30px;
    border: none;
    padding: 20px 20px 20px 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 555px;
    box-shadow: 0px 3px 9px rgba(113, 117, 123, 0.4);
}

.round:focus {
    border: none;
}

.search i {
    position: absolute;
    z-index: 6;
    color: #eee;
    padding: 8px;
}

.search .fa-search {
    top: 10px;
}

.ankhstyle {
    left: 510px;
    color: blue !important;
    top: 11px;
}

.buttons {
    position: absolute;
    top: 50%;
    right: 35%;
}

.wrapper {
    position: absolute;
    top: 40%;
    right: 65%;
}

.buttons li {
    display: inline-block;
    padding: 15px;
    font-size: 20px;
}

.google-buttons a {
    font-size: 12px;
    padding: 10px;
}

.Gsearch,
.how {
    background-color: #eee;
    margin-top: 10px;
    border-radius: 2px;
}

.google-buttons .firstAnchor:hover {
    text-decoration: none;
}

.google-buttons .secondAnchor:hover {
    text-decoration: none;
}

.language {
    position: absolute;
    top: 62%;
    right: 33%;
}

.language-b a {
    color: blue;
    font-size: 15px;
}

.language p {
    font-size: 12px;
    word-spacing: 5px;
}

.country {
    width: 100%;
    position: absolute;
    top: 5px;
    padding: 20px 0;
}

.country p {
    margin-left: 20px;
    color: #5F636C;
    font-size: 15px;
    font-weight: bold;
    margin-top: -10px;
}

hr {
    width: 100%;
    position: absolute;
    top: 45%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer {
    background-color: #F2F2F2;
    width: 100%;
    position: absolute;
    top: 85%;
    height: 100px;
}

.footer-cont {
    width: 100%;
    position: absolute;
    top: 60px;
}

.footer-cont li {
    display: inline-block;
    padding: 6px;
    font-size: 15px;
}

.footer-cont a {
    font-size: 12px;
    color: #5F636C;
}

.ul-one {
    float: right;
    margin-top: 0px;
    margin-right: 12px;
}

.ul {
    float: left;
    margin-top: 0px;
    margin-left: 12px;
}